src/main/resources/log4j.xml
build/*
bin
bin/*
target/*
reports/*
bin/*
script/*
.settings/*
*.log*
*.snapshot
*.iml
*.ipr
*.iws
*.sh
.project
.classpath
src/test/java/de/admintool/services/*
.mymetadata
.pom.xml.swp
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties

